body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
#container {
  position: relative;
}

#header{
  background-color: #009688;
  width:100%;
  height:300px;
  margin: 0px;
  padding: 0px;
}

#topContacts{
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: block;
  text-align: left;
  background-color:white;
  position: absolute;
  top: 100px;
  left: 5%;
}

#main{
  background-color: #f3f3f3;
  margin: 0;
  padding-top:100px;
}
footer{
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: #009688
}
.card{
  background-color: #ffffff;
  margin:0px auto;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 4px 4px 10px grey;
}


.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  overflow: hidden;
}
.skill-entry li{
  list-style-type:none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 5%;
  color: #006988d9;
}
.education-entry li{
    list-style-type:none;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}
.education-entry span{
  padding: 0px;
  color: #757575;
}
.education-entry hr{
  border: none;
    height: 1px;
    color: #eeeeee;
    background-color: #eeeeee;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
  padding: 20px;

}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,h3,h4,h5{
  padding: 10px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 16px;
  color: #999;
  line-height: 16px;
  float: right;
  margin-bottom: 10px;
}

p {
  color: #333;
  line-height: 21px;
}

a{
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.green {
  background-color: #009688;
}

.orange-text {
  color: #f5ae23;
}

.contact-text {
  font-weight: bold;
  color: #999;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.flex-box h2{
  float: left;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

span {
  padding: 20px;
}


#headingSkills,
#headingWorkExperience,
#headingProjects,
#headingEducation,
#headingMap{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 10px;
}
.material-icons{
  padding-top:15px
}
.material-icons.teal{
  padding-top: 15px;
  color: teal;
}
.teal{
  margin-left: 20px;
  color: teal;
}

.biopic {
  padding: 10px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

/* Media queries to handle various device widths */
@media only screen and (max-width:900px) {
  .biopic {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  .biopic {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    h1{
      text-align:center;
    }
  }
  #main{
    padding-top:280px;
  }
}

@media only screen and (min-width: 750px) {
  .biopic {
    float: left;
    display: block;
  }
}


.fa {
  text-align: center;
  text-decoration: none;
  margin:10px 20px;

  color: white;
}

.fa:hover {
    opacity: 0.7;
}
.fa-github{
  color:teal;
  margin-left: 20px;
  margin-top: 20px;
}
